# ajz34
tmp*

# ajz34 IDE Setting
.idea
.vs
cmake-build-debug
target
out/
Debug/
packages

# ajz34 Rust
target/
**/*.rs.bk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
